---
import Layout from '../layouts/Layout.astro';
import PlayListItemCard from '@/components/PlayListItemCard.astro'
import Greetings from '@/components/Greetings.svelte';
import NavMain from '@/components/NavMain.astro';

import { playlists, thisIs, recently, popular } from '@/lib/data';
---

<Layout title="Spotify Free Music">
    <div
        id="playlist-container"
        class="relative transition-all duration-1000 bg-zinc-900 rounded-lg"
    >
    <!-- page Header -->
    <div class="relative z-10 pt-1">
        <NavMain />
        <!-- Greetings Svelte-->
        <Greetings />

        <!-- Main Playlists -->
        <div class="mx-6 mt-4">
            <h1 class="text-2xl font-bold">Your top mixes</h1>
            <div class="flex flex-wrap gap-4">
                { playlists.map(playlist => <PlayListItemCard playlist={playlist} />) }   
            </div>

            <h1 class="text-2xl font-bold">Recently played</h1>
            <div class="flex flex-wrap  gap-4">
                { recently.map(playlist => <PlayListItemCard playlist={playlist} />) }
            </div>
            
            <h1 class="text-2xl font-bold">Popular albums</h1>
            <div class="flex flex-wrap  gap-4">
                { popular.map(playlist => <PlayListItemCard playlist={playlist} />) }
            </div>
            
            <h1 class="text-2xl font-bold">This is Spotify Free Music</h1>
            <div class="flex flex-wrap  gap-4">
                { thisIs.map(playlist => <PlayListItemCard playlist={playlist} />) }
            </div>
        </div>

        </div>
    </div>
</Layout>

